	html, body
	{
		height: 100%;
	}
	
	body
	{
		color: #4E4D4D;
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
	}

	body a {
		color: #1f4a82
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p
	{
		line-height: 180%;
		margin-top: 0;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		width: 100%;
		margin: 0px auto;
	}

	.textbox {
		width: 40%;
		margin-left: calc(30% - 5px);
		padding: 10px;
		text-align: center;	

		background: rgba(31, 74, 130, 0.75);
		color: white;
		border-radius: 7px;
	}

	.textbox p {
		margin: 0;
	}

	.article {
		background: white;
		margin: 2em auto 2em auto;
		width: 60%;
	}

	.article h1 {
		text-align: center;
		text-transform: uppercase;
		line-height: 2;
	}

	.article p {
		text-align: justify;
	}

	.dropdown-content {
		display: none;
		position: absolute;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.required {
		color: red;
	}

	#districtFinder {
		text-align: center;
	}
	#petitionTemplate {
		max-width: 500px;
		margin: auto;
	}
	#petitionTemplate p {
		font-family: serif;
		color: black;
	}

	#petitionTemplate input {
		font: inherit;
		margin: 0;
		padding: 0;
		line-height: normal;

		min-width: 10px;
	}
	#hiddenMeasure {
		font: inherit;
		margin: 0;
		padding: 0;
		display: none;
		white-space: pre;
	}

	span[contenteditable] {
		border: 1px solid #888;
		border-radius: 2px;
	}

	span[contenteditable]:hover {
		border-color: black;
		cursor: text;
	}

	#petitionTemplate span[contenteditable]:empty:before {
		content: attr(data-placeholder);
		color: #888;
	}

	.profile {
		overflow: hidden;
	}

	.profile img {
		float: left;
		width: 20%;
		object-fit: cover;
		margin-top: 7px;
	}

	.profile_text {
		float: right;
		text-align: left;
		width: 75%;
	}

	.profile_text .title {
		font-size: 20pt;
		margin-bottom: 0;
		margin-top: -7px;
	}

	.contactForm {
		border: 1px solid black;
		text-align: center;
		margin: auto;
		width: 300px;
		padding: 10px 10px;
	}

	.contactForm input, .contactForm textarea {
		width: 280px;
		max-width: 280px;
		min-width: 280px;
		margin-bottom: 1em;
	}

	.contactForm textarea {
		height: 40px;
		font-family: sans-serif;
	}

	.article a h1 {
		color: #4E4D4D;
	}

	img[usemap], map area{
		outline: none;
	}

	.popupBackground {
		display: none;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		position: fixed;
	}

	#loadingWheel {
		border: 10px solid lightgrey;
		border-radius: 50%;
		border-top: 10px solid black;
		width: 150px;
		height: 150px;
		margin: auto;
		margin-top: calc(50vh - 75px);
		-webkit-animation: spin 1.5s linear infinite; /* Safari */
		animation: spin 1.5s linear infinite;
	}

	#loadingScreen span {
		color: white;
		position: fixed;
		font-size: 30px;
		width: 100%;
		text-align: center;
		margin-top: calc(50vh - 10pt);
	}

	.tooltip {
		color: #0645AD;
	}

	.tooltip:hover {
		cursor: default;
	}

	.tooltip:hover .tooltipText {
		display: inline-block !important;
	}

	.tooltipText {
		display: none;
		position: absolute;
		margin-top: 30px;
		color: initial;
		background-color: #0645AD;
		color: white;
		padding: 10px;
		border-radius: 5px;

		line-height: 1.5;
		text-align: left;
		width: 20em;
		margin-left: -10em;

		font-family: sans-serif;
		font-size: 12pt;
	}

	.mailingListInput {
		width: 70%;
		padding: 12px 20px;
		box-sizing: border-box;
	}

	.mailingListButton {
		padding: 12px 20px;
		border-radius: 5px;
		border: solid 1px black;
		background-color: #8fc3e8;
		color: white;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.mailingListButton:hover {
		background-color: #7bafd4;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	#preppedEmail {
		display: none;	
	}


	@media only screen and (max-width: 1024px) {
		.article {
			width: 80%;
		}
	}

	@media only screen and (max-width: 768px) {
		.article {
			width: 90%;
		}
	}

	@media only screen and (max-width: 640px) {
		.article {
			width: 95%
		}
		#menu {
			font-size: 20pt;
		}
		.profile_text {
			width: 100%;
		}
		.profile img {
			width: 40%;
			float: none;
			text-align: center;
		}
		.profile {
			text-align: center;
		}
	}



/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;

		margin-top: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 40px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 1.5em;
		color: rgba(255,255,255,.3);
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #f6f6f6;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 0.5em 0em;
		background: #FFF;
		text-transform: uppercase;
		text-align: center;
	}

	#logo img {
		width: 320px;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #f6f6f6;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;

		margin-top: 0;
		padding: 0;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 1em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 400;
		color: #151515;
		letter-spacing: 1px
	}
	
	#menu a:hover {
		color: #1f4a82;
		font-weight: 600;
		/*makes tabs shift around less when one is bolded*/
		letter-spacing: 0.821px;
	}

	#menu .current_page_item a {
		color: #1f4a82;
		font-weight: 700;
	}

	#menu .current_page_item a:hover {
		font-weight: 700;
		font-size: 1em;
		letter-spacing: 1px;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		background: #EEEEEE;
	}

	#page
	{
		overflow: hidden;
		padding: 10em 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;

		background: #191919;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}